.title {
    color: #6ac332;
    font-family: monospace;
    font-size: 35px;
}

.welcomeMessage {
    display: flex;
    flex-direction: column;
    

}

.message {
    color: white;
    font-family: monospace;
    font-size: 16px;
}