.treasure {
    color: gold;
    font-size: 4px;
}

.descriptionr {
    color: white;
    font-size: 16px;
    font-family: monospace;
}

.repotitle {
    color: red;
    font-size: 40px;
    font-family: monospace;
}