#root {
  height: 100vh;
  width: 100vw;
  background-color: black;
}


.App {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}